@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: theme("colors.gray.900");
  --background: theme("colors.gray.50");
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: theme("colors.gray.50");
    --background: theme("colors.gray.900");
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .main-grid {
    display: grid;
    grid-template-columns: [breakout-start] 2rem [main-start] 1fr [main-end] 2rem [breakout-end];
  }

  .main-grid-main {
    grid-column: main;
  }

  .main-grid-breakout {
    grid-column: breakout;
  }
}
